<ion-view view-title="Execute">
  <ion-content>

<div>
  <div class = "padding">
  </div>

  <center>
    <execute class = "icon ion-skip-backward"></execute>
    <execute class = "icon ion-stop"></execute>
    <execute class = "icon ion-pause"></execute>
    <execute class = "icon ion-play"></execute>
    <execute class = "icon ion-skip-forward"></execute>
    <div class = "padding"></div>
  </center>
</div>

<div class="button-bar">
  <a class="button">1</a>
  <a class="button">2</a>
  <a class="button">3</a>
</div>
<div class="button-bar">
  <a class="button">4</a>
  <a class="button">5</a>
  <a class="button">6</a>
</div>
<div class="button-bar">
  <a class="button">7</a>
  <a class="button">8</a>
  <a class="button">9</a>
</div>
<div class="button-bar">
  <a class="button">*</a>
  <a class="button">0</a>
  <a class="button">#</a>
</div>

<div> <!--Volume Bar-->
  <div class="item range">
    <i class="icon ion-volume-low"></i>
    <input type="range" name="volume">
    <i class="icon ion-volume-high"></i>
</div>


  </ion-content>
</ion-view>
