<ion-view view-title="Execute">
  <ion-content>

<!--Search for Node-->
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Select Node
        </div>
        <select ng-model="formData.selectedNode" ng-options="node.custom_name for node in formData.nodeScriptList" ng-change="getNodeInfo()"></select>
      </label>
    </div>

<!--Search for Remote-->
<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Select Remote
    </div>
    <select ng-model="formData.selectedRemote" ng-options="remote.custom_name for remote in formData.remotes" ng-disabled="!formData.selectedNode" ng-change="getDisabledButtons()"></select>
  </label>
</div>

<div>
  <center><!--Command Header-->
    <a class="button button-icon icon ion-power" ng-disabled="!(formData.selectedNode && formData.keyPower)" ng-click="executeButton('KEY_POWER')"></a>
    <a class="button button-icon icon ion-skip-backward" ng-disabled="!(formData.selectedNode && formData.keyRewind)" ng-click="executeButton('KEY_REWIND')"></a>
    <a class="button button-icon icon ion-stop" ng-disabled="!(formData.selectedNode && formData.keyStop)" ng-click="executeButton('KEY_STOP')"></a>
    <a class="button button-icon icon ion-pause" ng-disabled="!(formData.selectedNode && formData.keyPause)" ng-click="executeButton('KEY_PAUSE')"></a>
    <a class="button button-icon icon ion-play" ng-disabled="!(formData.selectedNode && formData.keyPlay)" ng-click="executeButton('KEY_PLAY')"></a>
    <a class="button button-icon icon ion-skip-forward" ng-disabled="!(formData.selectedNode && formData.keyFF)" ng-click="executeButton('KEY_FASTFORWARD')"></a>
  </center>
  <!--Number Pad-->
  <div class="button-bar">
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keyOne)" ng-click="executeButton('KEY_1')">1</a>
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keyTwo)" ng-click="executeButton('KEY_2')">2</a>
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keyThree)" ng-click="executeButton('KEY_3')">3</a>
  </div>
  <div class="button-bar">
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keyFour)" ng-click="executeButton('KEY_4')">4</a>
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keyFive)" ng-click="executeButton('KEY_5')">5</a>
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keySix)" ng-click="executeButton('KEY_6')">6</a>
  </div>
  <div class="button-bar">
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keySeven)" ng-click="executeButton('KEY_7')">7</a>
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keyEight)" ng-click="executeButton('KEY_8')">8</a>
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keyNine)" ng-click="executeButton('KEY_9')">9</a>
  </div>
  <div class="button-bar">
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keyChanDown)" ng-click="executeButton('KEY_CHANNELDOWN')">Channel -</a>
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keyZero)" ng-click="executeButton('KEY_0')">0</a>
    <a class="button" ng-disabled="!(formData.selectedNode && formData.keyChanUp)" ng-click="executeButton('KEY_CHANNELUP')">Channel +</a>
  </div>

  <div class="button-bar">
    <a class="button button-positive" ng-disabled="!(formData.selectedNode && formData.keyVolDown)" ng-click="executeButton('KEY_VOLUMEDOWN')">Volume - </a>
    <a class="button button-positive" ng-disabled="!(formData.selectedNode && formData.keyVolUp)" ng-click="executeButton('KEY_VOLUMEUP')">Volume + </a>
  </div>
</div>



<div>
  <div class = "padding">
</div>

<h4><center> Execute Existing Script</center></h4>
<!--Search for Scripts-->
<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      List of scripts
    </div>
    <select ng-model="formData.selectedScript" ng-options="script.name for script in formData.scripts" ng-disabled="!formData.selectedNode"></select>
  </label>
</div>

<!--Execute Loaded Script-->
<button class="button button-full button-balanced" ng-click="executeScript()" ng-disabled="!formData.selectedScript || formData.selectedScript === '0'">
<center>  Execute Script</center>
</button>
</div>
</ion-content>
</ion-view>
