<ion-view view-title="Scripts">
    <!-- TODO Select node button (list) -->



    <!-- TODO List of existing scripts which should have an edit and delete button for each item -->
    <ion-header class="bar bar-positive bar-subheader">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
        </div>
        <h1 class="title">List of Scripts</h1>
        <div class="buttons">
            <!-- <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
                    Reorder
                </button> -->
            <a class="button button-balanced" ng-click="gotomodifyScript(null)" ng-href="#/app/modifyscript">
                    Add new script
                </a>
        </div>

    </ion-header>
    <ion-content class="has-subheader">
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="item in items" item="item" class="item-remove-animate" ng-click="gotomodifyScript(item)" ng-href="#/app/modifyscript">
                Item {{ item.id }}
                <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
                </ion-delete-button>
                <ion-option-button class="button-positive" ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
